<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_IServiceLive" />
                <binding name="WSDualHttpBinding_IServiceUser" />
                <binding name="WSDualHttpBinding_IServicePatient" />
                <binding name="WSDualHttpBinding_IServiceObservation" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:3055/ServiceLive.svc" binding="wsDualHttpBinding"
                bindingConfiguration="WSDualHttpBinding_IServiceLive" contract="ServiceLive.IServiceLive"
                name="WSDualHttpBinding_IServiceLive">
            </endpoint>
            <endpoint address="http://localhost:3055/ServiceUser.svc" binding="wsDualHttpBinding"
                bindingConfiguration="WSDualHttpBinding_IServiceUser" contract="ServiceUser.IServiceUser"
                name="WSDualHttpBinding_IServiceUser">
            </endpoint>
            <endpoint address="http://localhost:3055/ServicePatient.svc"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IServicePatient"
                contract="ServicePatient.IServicePatient" name="WSDualHttpBinding_IServicePatient">
            </endpoint>
            <endpoint address="http://localhost:3055/ServiceObservation.svc"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IServiceObservation"
                contract="ServiceObservation.IServiceObservation" name="WSDualHttpBinding_IServiceObservation">
            </endpoint>
        </client>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
    </system.serviceModel>
</configuration>