<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_IServiceLive" />
                <binding name="WSDualHttpBinding_IServiceUser" />
                <binding name="WSDualHttpBinding_IServicePatient" />
                <binding name="WSDualHttpBinding_IServiceObservation" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:3055/ServiceLive.svc" binding="wsDualHttpBinding"
                bindingConfiguration="WSDualHttpBinding_IServiceLive" contract="ServiceLive.IServiceLive"
                name="WSDualHttpBinding_IServiceLive">
                <identity>
                    <userPrincipalName value="CHAHINE\ChahineM" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:3055/ServiceUser.svc" binding="wsDualHttpBinding"
                bindingConfiguration="WSDualHttpBinding_IServiceUser" contract="ServiceUser.IServiceUser"
                name="WSDualHttpBinding_IServiceUser">
                <identity>
                    <userPrincipalName value="CHAHINE\ChahineM" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:3055/ServicePatient.svc"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IServicePatient"
                contract="ServicePatient.IServicePatient" name="WSDualHttpBinding_IServicePatient">
                <identity>
                    <userPrincipalName value="CHAHINE\ChahineM" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:3055/ServiceObservation.svc"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IServiceObservation"
                contract="ServiceObservation.IServiceObservation" name="WSDualHttpBinding_IServiceObservation">
                <identity>
                    <userPrincipalName value="CHAHINE\ChahineM" />
                </identity>
            </endpoint>
        </client>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="mouham_cWpfMedecin.Service_References.ObservationServiceReference">
                <endpoint address="" binding="basicHttpBinding" contract="mouham_cWpfMedecin.Service_References.IObservationServiceReference">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/mouham_cWpfMedecin.Service_References/ObservationServiceReference/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>